
   :host {
    display: block;
    background-color: #1b1e27;
    padding: 30px;
    border-radius: 10px;
    color: #fff;
    font-family: 'Segoe UI', sans-serif;
    max-width: 900;
    margin: auto;
    margin-top:5%
  }
  
  ::ng-deep .legend-label {
    color: white !important;
    font-size: 14px;
  }
  
  ::ng-deep text {
    fill: #e0e0e0 !important;
    font-size: 14px;
  }
  
  ::ng-deep .x.axis-label,
  ::ng-deep .y.axis-label {
    font-size: 18px;
    font-weight: bold;
    fill: #ccc;
  }
  
  .buttons-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  button {
    padding: 6px 18px;
    border: none;
    border-radius: 4px;
    background-color: #1c1c2b;
    color: #eee;
    cursor: pointer;
    font-size: 14px;
    margin: 0 6px;
    transition: background-color 0.3s ease, transform 0.2s ease;
  }
  
  button:hover {
    background-color: rgb(51, 192, 252);
    transform: scale(1.05);
  }
  
  button.selected {
    background-color: rgb(51, 192, 252);
    color: white;
  }
  
  .dropdown-container {
    margin: 10px 0;
    color: white;
  }
  
  select {
    padding: 6px 10px;
    border-radius: 4px;
    border: none;
    background-color: #1c1c2b;
    color: #eee;
  }
  